.container {
	display: flex;
}

.left {
	width: 410px;
	height: fit-content;
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

bgs-hero-face-off {
	width: 105px;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
}

.next-opponent-overview {
	display: flex;
	flex-direction: column;

	.header {
		display: flex;
		flex-direction: row;
	}

	.icon {
		width: 60%;
	}

	board {
		width: 80%;
		position: relative;
		top: 10%;
		height: 1%;
	}

	::ng-deep board {
		.board li {
			width: 11%;
		}
		board-card-stats .stat {
			color: #fff;
		}
	}

	.body {
		margin-top: 25px;
		display: flex;
	}
}

.tavern-upgrades,
.triple-tiers {
	display: flex;
	flex-direction: column;
	margin-right: 10%;
}
